.root {
  display: flex;
  background-color: var(--violet2);
  border: 1px solid var(--violet7);
  color: var(--violet11);
  padding: 16px;
  font-size: 16px;
  overflow: auto;

  &_editable {
    resize: both;
  }

  &:focus-visible {
    outline: var(--violet6);
  }
}
